<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <h1>My Portfolio</h1>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="about">
            <h2>About Me</h2>
            <p>I am a boy raised in the 305 by my Cuban parents. I like to have fun and try new things. I love to play and watch sports with my friends.</p>
            <p>Plus, I am a big anime fan so whoever is reading this, if you're one too, hit me up. My contacts are in the footer.</p>
        </section>

        <section id="projects">
            <h2>Projects</h2>
            <div class="projects-list">
                <div class="project-card">
                    <h3>Project 1</h3>
                    <p>Joke Generator will generate jokes about Programming,Random,Dark and Dad. You can even choose how many jokes you want.</p>
                    <img src="file:///Users/giancarlomorera/Desktop/BOOTCAMP/group-project1/css/logo.png" alt="alternatetext">
                    <a href="https://github.com/PhenolLully/group-project1">Project link</a>
                </div>
            </div>
        </section>

        <section id="contact">
            <h2>Contact Me</h2>
            <p>Email: gmjanca@gmail.com</p>
            <p>Phone Number: 305-305-0305</p>
        </section>
    </main>
</body>
</html>
